android/build/
android/.gradle
android/.DS_Store
android/.idea/codeStyles/
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/workspace.xml
android/.project
android/.settings/
android/android.iml
android/local.properties
.DS_Store